{% extends "SiteTourneurFraiseurBundle::layout.html.twig" %}

{% block body %}
	<div id="Text">
		<div>
			
			<h1>VOS ANNONCE</h1>
			{{ include ('SiteTourneurFraiseurBundle:Default:Banniere.html.twig') }}

			<div id="TextCorps">
				<div id="loupe-offre-emploi">
					{% image 'bundles/app/img/icone-annonce-attente.png' %}
						<img  style="padding-top:5px;" src="{{ asset_url }}" />
					{% endimage %}
				</div>
				<h1 style="width:400px;">ANNONCES PRÉ-ENREGISTRÉES</br>
					- en attente de publication de votre part</h1>
				
					<ul style="margin: 10%;">
					{% for annonce in listeannonce %}
						{% if annonce.suspension == 11 %}
							<li><a href="{{ path('annonce_gestion_detail',{'id':annonce.id}) }}">{{ annonce.TitreAnnonce }} <p style="float:right"> Réf : {{ annonce.reference }}</p></a></li>
						{% endif %}
					{% endfor %}
					</ul>
				
				<div id="loupe-offre-emploi">	
					{% image 'bundles/app/img/icone-annonce-attente.png' %}
							<img style="padding-top:5px;" src="{{ asset_url }}" />
					{% endimage %}
				</div>
				<h1 style="width:400px;">ANNONCES EN ATTENTE DE PUBLICATION</h1>
				
					<ul style="margin: 10%;">
					{% for annonce in listeannonce %}
						{% if annonce.suspension == -1 %}
							<li><a href="{{ path('annonce_gestion_detail',{'id':annonce.id}) }}">{{ annonce.TitreAnnonce }} <p style="float:right"> Réf : {{ annonce.reference }}</p></a></li>
						{% endif %}
					{% endfor %}
					</ul>
				
				<div id="loupe-offre-emploi">
					{% image 'bundles/app/img/icone-annonce-publiee.png' %}
							<img style="padding-top:5px;" src="{{ asset_url }}" />
					{% endimage %}
				</div>
				<h1 style="width:400px;">ANNONCES PUBLIÉES</h1>
				
					<ul style="margin: 10%;">
					{% for annonce in listeannonce %}
						{% if annonce.suspension == 10 %}
							<li><a href="{{ path('annonce_gestion_detail',{'id':annonce.id}) }}">{{ annonce.TitreAnnonce }} <p style="float:right"> Réf : {{ annonce.reference }}</p></a></li>
						{% endif %}
					{% endfor %}
					</ul>
				
				<div id="loupe-offre-emploi">
					{% image 'bundles/app/img/icone-annonce-depubliee.png' %}
							<img style="padding-top:5px;" src="{{ asset_url }}" />
					{% endimage %}
				</div>
				<h1 style="width:400px;">ANNONCES DÉPUBLIÉES</h1>
					<ul style="margin: 10%;">
					{% for annonce in listeannonce %}
						{% if annonce.suspension == 21 %}
							<li><a href="{{ path('annonce_gestion_detail',{'id':annonce.id}) }}">{{ annonce.TitreAnnonce }} <p style="float:right"> Réf : {{ annonce.reference }}</p></a></li>
						{% endif %}
					{% endfor %}
					</ul>
				
			</div>
		</div>
	</div>
			
			
{% endblock %}