{% extends "SiteTourneurFraiseurBundle::layout.html.twig" %}


{% block body %}			

		<div id="contenu-corps-droit-liste-offre">
			<div id="bloc-offre-emploi">
				<div id="contenu-bloc-offre-emploi">
					<div id="loupe-offre-emploi">
					{% image 'bundles/app/img/icone-rechercheFolder.png' %}
							<a href="/"><img src="{{ asset_url }}" alt="Zoom sur les offres d'emploi"/></a>
					{% endimage %}
					</div>

					<h1>OFFRES D'EMPLOI </h1>
						
										
					<div style="width:620px;padding:5px 10px;height:50px;margin-bottom: 20px;border:1px solid #cccccc;box-shadow: 0 0 15px #3b3a3a;float:left;text-align: center;" id="conteneur-contenu-contact">
						<div id="formRecherche" style="witdh:650px;">
							{{ form_start(form)}}		
								<div name="Region" id="Region" style="margin:13px 40px 0 120px;display: block;float:left;">
									{{ form_row(form.idDepartement)}}		
								</div>
								<div style="margin:10px 0;height:25px;display: block;float:left;">
									{{ form_row(form.Save)}}	
								</div>
							{{ form_end(form)}}				
						</div>
					</div>
					<div id="tableau-offre" style="margin-bottom:20px;width:650px;text-align:center;">
						<div id="titre-tableau-offre" style="margin-bottom: 10px;">
							<div id="tableau-date">
								Recruteur
							</div>
							<div id="tableau-fonction">
								Annonce
							</div>
							<div id="tableau-secteur">
								Ville proche
							</div>
							<div id="tableau-contrat" style="margin-right: 0px;">
								Contrat
							</div>
						</div>
						{% for annonce in pagination %}	
							<div class="tableau-ligne" id="" style='padding:5px;margin:5px 5px 5px -5px;'>


								<div class="date" style='margin:0;padding:0;height:50px;'>
									<div style='font-weight:normal;width:100px;margin:0;padding:0;overflow:auto;'>
										{% if annonce.idRecruteur is not empty %}
											{{ annonce.idRecruteur.Societe }}
										{% else %}
											{{ annonce.idEmployeur.Societe }}
										{% endif %}
									</div></div>

								<div class="fonction">
									<h2 style="border-bottom: dotted 1px #8A8A8A;padding-bottom:5px;text-transform: uppercase;">
										<a href="{{ path('annonce_gestion_detail',{'id':annonce.id})}}" title="voir l'offre">
											{{ annonce.titreAnnonce }}
										</a></h2>
									<p style="overflow:hidden;height:40px;">
										{{ annonce.DescriptifAnnonce }}<span style='font-weight:bold;'>...</span>										</p>
								</div>
																	<div class="secteur" >
								{{ annonce.grandevilleproche }}									</div>

																	<div class="contrat" style='padding-left:25px;padding-right:0;margin:0;text-align:center;'>
																		{{ annonce.idTypeContrat|truncate(3) }}								</div>
							</div>
						
								{% endfor %}
							<div id="blockNavigation" style="float:right;width:230px;margin-right:220px;padding:4px 10px 4px 10px;margin-bottom: 25px;margin-top:15px;text-align: center;">	
							{{ knp_pagination_render(pagination) }}
							</div>
						</div>				
					</div>
				</div>
		</div>			
	





		
			
{% endblock %}
