{% extends "SiteTourneurFraiseurBundle::layout.html.twig" %}


{% block body %}			

		
<div id="index-haut-droit" style="text-align: justify;font-weight: bold;margin-right:20px;width:728px;margin-bottom: 2%;">
	
	<h1>Le site emploi de l'usinage </h1>
	Quelle que soit la spécialité recherchée ou proposée, Tourneurs-Fraiseurs.com met en relation des entreprises et des professionnels de l'usinage par enlèvement de copeaux ou abrasion.</br>
	Tournage, fraisage, décolletage, brochage, forage, rectification, représentent ainsi le travail quotidien des milliers de profils présents dans notre CV-Thèque ou de candidats potentiels visitant régulièrement notre site.</br>
	Au-delà des spécialités techniques, de nombreuses fonctions sont couvertes : certaines très 'terrain', telles que régleurs, opérateurs, conducteurs de machines automatisées ou programmeurs sur armoire CN, et d'autres plus généralistes ou transverses; telles que méthodes, gammes, programmation (CFAO) ou encadrement.</br></br>

	Ce site est intégré dans le portail Recrutic.com, portail d'emploi spécialisé dans les métiers industriels en tension. Cette intégration permet une performance accrue de la mise en relation employeurs/candidats, grâce a une gestion fine des compétences et à un système  d'alerte très réactif.<br><br>
	Tourneurs-Frauseurs.com, comme tous les sites de ce portail est entièrement gratuit. Bien entendu, si vous avez besoin de plus de CV, plus de visibilité ou plus de réactivité, nous vous proposons une option "premium" particulièrement compétitive. Vous pouvez cliquer ici pour en savoir plus.  	<br/></br>
	Employeurs, candidats, recruteurs, inscrivez-vous (une inscription unique pour 16 sites) pour ne pas passer à côté des meilleures opportunités
	<br><br>
	L'équipe de Tourneurs-Fraiseurs.com.

</div>

<div id="corps"  style="font-size:11px;">
	<div id="corps-droit" >
			<div id="contenu-corps-droit">
				<h2 style="float:right;margin-right: 150px;">DERNIERES OFFRES </h2>
				
				
				<h2>DERNIERS CANDIDATS INSCRITS</h2>
				
				<div id="corps-droit-bloc1" style="width:240px;margin-left: -10px;">
					{% for candidat in listecandidat %}
						<ul>
							<li>{{ candidat.nomCandidat|truncate(1)|upper }} {{ candidat.prenomCandidat }}</li>
							<li><b>{% for fonction in candidat.fonction %}{{ fonction.intitulefonction }}{% endfor %}</b></li>
							<li>{{ candidat.datecreation|date('d/m/Y') }}</li>
							
						</ul>
					{% endfor %}			
				</div>
				<div id="corps-droit-bloc2" style="width:60%;">
						{% for annonce in listeannonce %}
							<ul>
								<li><a href="{{ path('annonce_gestion_detail',{'id':annonce.id}) }}">{{ annonce.titreAnnonce }} - {{ annonce.datepublication|date('d/m/Y') }}</a></li>
								{% for fonction in annonce.site %}
									<li>{{ fonction.idFonction }}</li>
								{% endfor %}
									<li>{{ annonce.idDepartement }}</li>
							
							</ul>
						{% endfor %}
						<br/>
						<div style='width:100%;text-align:center;'>
							<a href="{{path('espaceCandidat')}}">Voir la liste complète</a>
						</div>
				</div>
			</div>
		</div>
		
	</div>

		
			
		{% endblock %}
