{% extends "SiteTourneurFraiseurBundle::layout.html.twig" %}


{% block body %}			

		
<div id="index-haut-droit" style="text-align: justify;font-weight: bold;margin-right:20px;width:728px;margin-bottom: 10%;">
	
	<h1>Tourneurs-Fraiseurs.com</h1>
	<h3 style="color:white;font-style: italic;">Une autre approche du recrutement dans l'usinage </h3>
	
	Quelle que soit la spécialité recherchée ou proposée, Tourneurs-Fraiseurs.com met en relation des entreprises et des professionnels de l'usinage par enlèvement de copeaux ou abrasion.<br>
	Tournage, fraisage, décolletage, brochage, forage, rectification, représentent ainsi le travail quotidien des milliers de profils présents dans notre CV-Théque ou de candidats potentiels visitant régulièrement notre site.<br><br> 
	Au-delà des spécialités techniques, de nombreuses fonctions sont couvertes : certaines très  'terrain', telles que régleurs, opérateurs, conducteurs de machines automatisées ou programmeurs sur armoire CN, et d'autres plus généralistes ou transverses; telles que méthodes, gammes, programmation (CFAO) ou encadrement.<br><br>
	Depuis septembre 2013, de nouvelles fonctions ont été ajoutées. Elles visent à pérenniser la relation entre les recruteurs et les candidats dès leur formation professionnelle. Vous trouverez ainsi un onglet formation très fortement enrichi d'offres de stages et autres opportunités.<br><br>
	Nous avons également développé de nouvelles formules pour assister les entreprises dans leurs recherches de collaborateurs, et avons étendu notre offre aux agences d'intérim et cabinets RH qui peuvent ainsi s'appuyer sur nous pour performer leurs relations avec leurs clients habituels.<br><br>
	N'hésitez pas à nous contacter : nous serons ravis d'échanger avec vous pour vous apporter le meilleur service.<br><br> 
	L'équipe de Tourneurs-Fraiseurs.com.	<br/>
	
	

</div>

<div id="corps"  style="font-size:11px;">
	<div id="corps-droit" >
			<div id="contenu-corps-droit">
				<h2 style="float:right;margin-right: 150px;">DERNIERES OFFRES </h2>
				
				
				<h2>DERNIERS CANDIDATS INSCRITS</h2>
				
				<div id="corps-droit-bloc1" style="width:240px;margin-left: -10px;">
					{% for candidat in listecandidat %}
						<ul>
							<li>{{ candidat.nomCandidat|truncate(1) }} {{ candidat.prenomCandidat }}</li>
							<li>{{ candidat.datecreation|date('d/m/Y') }}</li>
						</ul>
					{% endfor %}			
				</div>
				<div id="corps-droit-bloc2" style="width:60%;">
						{% for annonce in listeannonce %}
							<ul>
								<li><a href="{{ path('annonce_gestion_detail',{'id':annonce.id}) }}">{{ annonce.titreAnnonce }} - {{ annonce.datepublication|date('d/m/Y') }}</a></li>
								{% for fonction in annonce.site %}
									<li>{{ fonction.idFonction }}</li>
								{% endfor %}
									<li>{{ annonce.idDepartement }}</li>
							
							</ul>
						{% endfor %}
						<br/>
						<div style='width:100%;text-align:center;'>
							<a href="{{path('espaceCandidat')}}">Voir la liste complète</a>
						</div>
				</div>
			</div>
		</div>
		
	</div>

		
			
		{% endblock %}
