<table id='recapAnnonce'>
	<tr><th><b>{{ candidat.nom|upper|truncate(1) }} {{ candidat.prenom }}</b></th></tr>
	<tr><td>{% if candidat.annonce is not empty  %}
			A répondu aux annonces : 
		<ul>
		{% for annonce in candidat.annonce|slice(0, 5) %}
			{% for s in annonce.site %}
				{% if s.idSiteemploi == site %}
			<li><b>{{ annonce.TitreAnnonce}}</b> ayant comme compétence demandée <b>{% for fonction in annonce.fonction %}{{ fonction.idFonction }} {% endfor %}</b> dans le <b>{{ annonce.idDepartement }}</b>
				{% endif %}
			{% endfor %}
		{% endfor %}
		</ul>
	{% else %}
		Possède les compétences suivantes :
		<ul>
			{% for fonction in candidat.fonction %}
				<li><b>{{ fonction.intitulefonction }}</b></li>
			{% endfor %}
		</ul>
	{% endif %}
	</td></tr>
</table>