{% extends "SiteTourneurFraiseurBundle::layout.html.twig" %}


{% block body %}			

<div id="contenu-corps-droit-liste-offre">
	<div id="bloc-offre-emploi">
		<div id="contenu-bloc-offre-emploi">
			<div id="loupe-offre-emploi">
				{% image 'bundles/app/img/icone-rechercheFolder.png' %}
						<a href="/"><img src="{{ asset_url }}" alt="Zoom sur les offres d'emploi"/></a>
				{% endimage %}
			</div>

			<h1>CVTheque </h1>
			<div style="width:620px;padding:5px 10px;height:50px;margin-bottom: 20px;border:1px solid #cccccc;box-shadow: 0 0 15px #3b3a3a;float:left;text-align: center;" id="conteneur-contenu-contact">
				<div id="formRecherche" style="witdh:650px;">
								
				</div>
			</div>
				<table id='Cvtheque'>
					
						<tr><th>Nom</th><th>Prenom</th><th>Ville</th><th>Contacter</th></tr>
					{% for candidat in pagination %}
							<tr><td>{{candidat.nom|truncate(1)}}</td><td>{{candidat.prenom}}</td><td>{{candidat.codePostal}}</td><td id="CvThequeInteraction"><a href="{{ path('candidat_consultation_user',{'id':candidat.id})}}">
					{% image 'bundles/app/img/voir.png' %}
						<img src="{{ asset_url }}" alt="Voir" id="CVThequeImg"/>
						{% endimage %}</a>
					{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
						{% if app.user.premium is not empty or app.user.type == "Admin" %}
							<a href="{{ path('contactCandidat', {'id':candidat.id})}}">
							{% image 'bundles/app/img/Mail.png' %}
								<img src="{{ asset_url }}" alt="Mail" id="CVThequeImg"/>
							{% endimage %}</a>
							{% if candidat.url is not empty %}
								<a href="{{ candidat.url }}">
								{% image 'bundles/app/img/Cvtheque.png' %}
									<img src="{{ asset_url }}" alt="Mail" id="CVThequeImg" style="width: 15%;"/>
								{% endimage %}</a>
							{% endif %}
						{% endif %}	
					{% else %}	
						<a href="#" onclick="return alert('Il faut déposer une annonce premium pour avoir accès à ce service.')">
							{% image 'bundles/app/img/Mail.png' %}
							<img src="{{ asset_url }}" alt="Recrutic" id="CVThequeImg"/>
							{% endimage %}</a>		

					{% endif %}		
					</td></tr>
					{% endfor %}
				</table>
				<div id="blockNavigation" style="float:right;width:230px;margin-right:220px;padding:4px 10px 4px 10px;margin-bottom: 25px;margin-top:15px;text-align: center;">	
					{{ knp_pagination_render(pagination) }}
				</div>
			</div>				
		</div>
	</div>
</div>			
	





		
			
{% endblock %}
